
.toggleDisplayBtn {
	display: none;
}

@media only screen and (max-width: 600px) {
	#main-container {
		grid-template-columns: 1fr;
	}

	#filter-container {
	  display: none;
	}

	.toggleDisplayBtn {
		display: inline;
	}
  }