.group-deck {
	background: $panel-background;
	margin: 0.5em;
	border-radius:0.2em;

	& > div {
		padding: 0.5em;
		margin: 0;	
	}

	.card-header > a {
		padding: 0;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 500;
		color: $link-color;

		&:hover {
			color: $link-hover-color;
		}
	}

	.uk-card-body {
		max-height: 400px;
		overflow: auto;
	}

	.scrollbar {
		float: right;
		height: 300px;
		margin-bottom: 25px;
		margin-left: 22px;
		margin-top: 10px;
		width: 100%;
		overflow-y: scroll;
	}
	
	.force-overflow {
		min-height: 10%;
	}

	.cardScrollbar::-webkit-scrollbar {
		width: 6px;
	} 

	.cardScrollbar::-webkit-scrollbar-thumb {
		background-color: rgba(0,0,0,0.3);
		border-radius: 3px;
	}

	.cardScrollbar::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 3px;
		cursor: grab;
	}
}

.item-container {

	padding: 0.5em;
	border-radius: 0px 0px 5px 5px;
	
	& > .card, .grid > .card {
		background: $white;
		padding: 0.5em;
		margin-top: 0.5em;
		border-radius: 0.2em;
	}
}

.card-deck {
	
	max-width: 480px;
	padding: 0em 0.5em 0em 1em;	
	height: $main-container-height;
	overflow: hidden;
	margin: 0px auto;

	.scrollbar {
		float: right;
		height: 100%;
		width: 100%;
		padding-right: 0.5em;
		overflow-y: scroll;
	}

	.cardScrollbar::-webkit-scrollbar {
		width: 6px;
	} 

	.cardScrollbar::-webkit-scrollbar-thumb {
		background-color: rgba(0,0,0,0.3);
		border-radius: 3px;
	}

	.cardScrollbar::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 3px;
		cursor: grab;
	}
}

.card-deck > .deck-title {
	color: $white;
	font-size: 1.5em;
	text-transform: uppercase;
	height: 2.5em;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-right: 0.5em;
}

.uk-flex-top.uk-modal {
	background: #55CFBF;
	margin-top: $navbar-height;

	.uk-modal-dialog {
		background: transparent;
	}
}

.cash-card, .cash-modal {
	margin-bottom: 0.5em;
	color : $card-text-color;
	background: $white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);	
	//transition: margin 200ms;

	&:hover, a:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);		
		text-decoration: none;
		//margin: 1em 0em;
	}

	.icon-expense {
		color : rgb(155, 51, 48);
	}

	.icon-income {
		color : rgb(96, 155, 48);
	}

	p.card-text-xl, p.card-text-l, p.card-text-m, p.card-text-s, p.card-text-xs {
		color : $card-text-color;
		margin: 0px;
	}

	.card-text-xl {
		font-size: 1.5em;
		font-weight: 700;
	}

	.card-text-l {
		font-size: 1.3em;
		font-weight: 600;
	}

	.card-text-m {
		font-size: 1.1em;
		font-weight: 500;
	}

	.card-text-s {
		font-size: 0.9em;
	}

	.card-text-xs {
		font-size: 0.7em;
	}

	.cash-card-icon-col {
		width: 50px;
	}
}

.share-avatar {
	width: 30px;
}

.cash-card {	
	height: 110px;
	margin-bottom: 1em;
	padding: 1em 2em;
	
	p.card-text-xl, p.card-text-l, p.card-text-m, p.card-text-s, p.card-text-xs {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.cash-modal {
	padding: 2em;
}