.card {
	margin-bottom: 1em;
}

.card-header h4 {
	color:$dark-grey;
	margin-bottom: 0;
	font-size: 1.2em;

	i {
		text-align: right;
	}
}

.card-body {
	padding: 2em;
}

// Collapse-Expand Icons
i.dark {
	color:$dark-grey;
}

// Hide the collapse button
a[aria-expanded=false] .fa-chevron-circle-up {
	display: none;
}

// Hide the expand button
a[aria-expanded=true] .fa-chevron-circle-down {
	display: none;
}