.card {
	margin-bottom: 0.75em;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: background-color 200ms;
	color : $card-text-color;
	padding: $card-padding;
	
	&:hover, &.selected {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);	
		background: $gray-95;
		text-decoration: none;		
		cursor: pointer;
	}

	p.card-text-xl, p.card-text-l, p.card-text-m, p.card-text-s, p.card-text-xs {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.filter-card {	
	display: grid;
	grid-template-columns: 34px minmax(100px, 1fr) 20px;
	background: $white-40;		
	line-height: 34px;
	padding: $card-padding;

	.count-label {
		text-align: center;
		background: $white;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		line-height: 20px;
	}
	
	.filterTools {
		display: none;

		i {
			font-size: 16px;
			border-radius: 20px;
			padding: 5px;		
			cursor: pointer;		
			transition: 200ms ease all;

			&:hover {
				color: $black;
				background-color: rgba(0,0,0,0.2);
			}

		}
	}
	
	&:hover {
		grid-template-columns: 34px minmax(100px, 1fr) auto;

		.filterTools {
			display: block;
		}

		.count-label {
			display: none;
		}
	}
}

.filter-list-card {
	padding: 0.25em;
}

.item-card {	
	background: $white;
	padding: 1.5em 1.5em;
	display: grid;
	grid-template-columns: auto minmax(100px, 1fr);

	& > div {
		margin: auto 0;
		padding-left: 0.5em;
	}
}

.totals-card {
	background: $white;
}

span.card-tag {
	color: $gray-95;
	background: $primary-color;
	border-radius: 10px;
	padding: 2px 10px;
}

// TASKS
.task-card {	

	&.complete {
		background-color: $white-40;
	}
}

// BOOKMARKS
.bookmark-card {
	padding: 0;

	.card-text {
		padding: 1.5em;
	}
}