// Groups container - Area where group cards are displayed
.main-container {
	padding: 1em;
	background: rgb(71, 146, 156);
	min-height: 100vh;
}


#item-display-area > li > a.uk-accordion-title {
	border-radius: 0.2em;
	background: rgba(255, 255, 255, 0.3);
	padding: 0.5em;
	font-weight: 600;
	color: #FFF;

	&:hover, &:visited, &:active, &:focus {
		background: rgba(255, 255, 255, 0.2);
		color: #DDD;
	}
}
