// Groups container - Area where group cards are displayed
body {
	font-family: 'Nunito', sans-serif;
	// background: $primary-color;
	background-image: linear-gradient(135deg, #6694d8 0%, #4fadb1 100%);
}

#main-container {
	height: $main-container-height;
	display: grid;
	grid-template-columns: 1fr 2fr;	
}

#filter-container, #item-container {
	display: grid;
	grid-template-rows: $nav-height auto 1fr;
	padding: $container-padding;
}

#filter-nav, #item-nav {
	display: grid;
	grid-template-columns: auto minmax(50px, 1fr) 40px;
	color: $white;
	font-size: 1.5em;
	font-weight: 700;
	
	.nav-center {
		text-transform: uppercase;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 35px;
		padding-left: 0.5em;
	}
	
	.nav-right {
		float: right;
		i {
			font-size: 30px;
		}
	}
}

.card-container, #group-modal-content {
		
	overflow: hidden;
	height: 100%;

	.cardScrollbar {
		float: right;
		height: 100%;
		width: 100%;
		overflow-y: auto;
	}

	.cardScrollbar::-webkit-scrollbar {
		width: 8px;
	} 

	.cardScrollbar::-webkit-scrollbar-thumb {
		background-color: rgba(0,0,0,0.3);
		border-radius: 4px;
	}

	.cardScrollbar::-webkit-scrollbar-track {
		box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
		-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
		border-radius: 4px;
		cursor: grab;
	}

	.force-overflow {
		min-height: 10px;
	}
	
	.nestedGroup {
		padding-left: 20px;
	}
}

.card-container {
	height: $card-container-height;
}

.card-container.totals {
	height: $card-container-totals-height;
}

.item-totals {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 0.75em;
	color: $primary-color;
	height: $item-totals-height;
}

@media only screen and (max-width: 600px) {
	#main-container {
		grid-template-columns: 1fr;
	}

	#filter-container {
	  display: none;
	}
}