// Form label text style
label {
	font-weight: 500;
	color: $text-theme;	
}

// Remove border from input fields
.form-group {
	.form-no-border {
		border: none;
		border-bottom: 2px solid #ccc;
		border-radius: 0px;
		max-width: 1000px;
	}

	.dropdown {
		button {
			margin-top: 0;
		}
	}
}

// Form button style
.btn {
	width: 30%;
	max-width: 500px;  
	float: right;
	margin-left: 1em;
	margin-top: 1em;
	height: 40px;
	border-radius: 20px;
	font-weight: bold;
	border-width: thin;
}

// Primary button
.btn-primary {
	background-color: $primary;
	border-color: $primary;
}

// Secondary button
.btn-outline-dark {
	border-color: $text-theme;
	color: $text-theme;
}

.btn-outline-dark:hover {
	background-color: $dark-grey;
}

// Skills Multiselect style
.bootstrap-select .bs-ok-default::after {
    width: 0.5em;
    height: 0.8em;
    transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
    outline: none !important;
}

// Override selected skills font-weight
.filter-option-inner-inner {
	font-weight: 300;
}

// Checkbox lines
.form-check {
	margin-top: 0.5em;
	line-height: 20px;
}

// Hide the browser's default checkbox 
.container input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

// Create a custom checkbox 
.checkmark {
	position: absolute;
	left: 0;
	height: 20px;
	width: 20px;
	border: 1px solid $light-grey;
}

// On mouse-over, add a grey background color
.container:hover input ~ .checkmark {
	background-color: $light-grey;
}

// When the checkbox is checked, add a blue background 
.container input:checked ~ .checkmark {
	background-color: $primary;
	border: none;
}

// Show the checkmark when checked
.container input:checked ~ .checkmark:after {
	display: block;
}

// Style the checkmark
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
	left: 8px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
