i {
	font-size: 24px;
}

.icon-btn {
	border-radius: 50%;
	padding: 5px;		
	cursor: pointer;		
	transition: 200ms ease all;

	&:hover, &.selected {
		color: $primary-color;
		background-color: rgba(0,0,0,0.05);
	}

	&.white {
		&:hover, &.selected {
			color: $white;
			background-color: rgba(255,255,255,0.4);
		}	
	}
}

.icon-36 {
	font-size: 36px;
}

.icon-expense {
	color : rgb(155, 51, 48);
}

.icon-income {
	color : rgb(96, 155, 48);
}

.share-avatar {
	width: 30px;
}
