#main-navbar, #welcome-navbar {
	
	line-height: $nav-height;
	background: $white-40;	
	margin: 0;
	padding: 0 1em;
	width: calc(100% -2em);

	display: grid;
	grid-template-columns: 60px 1fr 60px;
	height: $nav-height;

	.navbar-left, .navbar-right {
		color: $gray-98;
		
	}
	.navbar-center {
		color: $white;
		font-size: 1.5em;
		text-align: center;
	}

	.navbar-right {
		position: relative;
		cursor: pointer;
		
		.icon-btn {
			float: right;
		}

		.navbar-menu {
			display: none;			
			position: absolute;
			top: $nav-height;
			width: 120px;
			text-align: left;
			background-color: $offwhite;
			color: $gray-50;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			padding: 12px 16px;
			z-index: 1;
			right: 0px;
			margin: 0;
			list-style: none;

			li {
				&:hover {
					color: $black;
				}
			}
		}		
	}
	
	.navbar-right:hover .navbar-menu {
		display: block;
	}
				
	.toggleDisplayBtn {
		display: none;
	}
}

#welcome-navbar {

	display: grid;
	grid-template-columns: 200px 1fr auto;

	.navbar-left {
		text-align: left;
	}

	.navbar-right {
		text-align: right;

		a {
			padding-left: 0.5em;
		}
	}
}

@media only screen and (max-width: 600px) {

	#main-navbar, #welcome-navbar {
		grid-template-columns: 200px 1fr 30px;

		.navbar-center > a{
			display: none;
		}

		.navbar-right {
			padding-left: 0px;
		}
			
		.toggleDisplayBtn {
			display: inline;
		}

		.hidden {
			display: none;
		}
	}

	#welcome-navbar {
		grid-template-columns: 200px 1fr;
		
		.navbar-center {
			display: none;
		}
	}
  }