// Sidebar general properties
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-sidebar;
	color: $text-white;
	
	// Bottom section of sidebar
	.sidebar-copywrite { 
		height: 50px; 
		background-color: rgba(0, 0, 0, 0.1);
		text-align: center;
		line-height: 50px;

		// Remove styling from copywrite link
		a { 
			text-decoration: none;
			color: $light-grey;
		}
	}

	.list-group {	
		height: calc(100vh - #{$navbar-height} - 50px);
		overflow-y: auto;
	}
}

// Sidebar button style
.sidebar-btn {
    background-color: transparent;
    color: $text-light;
	width: $width-sidebar;

	.badge {
		float: right;
		border-radius: 50%;
	}
}

// Lighten active and hovered sidebar buttons
.btn-active, .sidebar-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
	color: $text-white;
	text-decoration: none;
}

// Sidebar icons
i.fas, i.far {
	color: $text-white;
	opacity: 0.8;
	width: 2em;
}

/*
* Sidebar wrapper properties, to hide on smaller screens
*/
#sidebar-wrapper {
    min-height: 100vh - $navbar-height;
    margin-left: -$width-sidebar;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
  
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
  
#page-content-wrapper {
    min-width: 100vw;
}
  
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}
  
@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
  
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -$width-sidebar;
    }
}