// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

// Theme colors
$white: #FFF;
$dark-blue: rgb(58, 84, 110);
$dark-green: rgb(13, 59, 73);
$offwhite: #EEE;
$light-grey: #BBB;
$dark-grey: #444;
$primary: #2196f3;

// Background colors
$navbar-color: rgba(255,255,255,0.3);

// Text colors
$text-white: #FFF;
$text-light: $light-grey;
$text-dark: $dark-grey;
$text-theme: $dark-blue;

$card-text-color: rgb(120, 120, 120);

// Links
$link-color: rgb(66, 122, 136);
$link-hover-color: rgba(66, 122, 136, 0.8);

// Dimension constraints

	// Navbar
	$navbar-height: 60px;

	// Display area
	$main-container-height: calc(100vh - #{$navbar-height} - 20px);
