// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand&display=swap');

// Theme colors
$white: #FFF;
$dark-blue: rgb(58, 84, 110);
$dark-green: rgb(13, 59, 73);
$offwhite: #EEE;
$light-grey: #BBB;
$dark-grey: #444;
$primary: #2196f3;

// Background colors
$color-navbar: $offwhite;
$color-sidebar: $dark-blue;
$panel-background: $offwhite;

// Text colors
$text-white: #FFF;
$text-light: $light-grey;
$text-dark: $dark-grey;
$text-theme: $dark-blue;

$card-text-color: rgb(120, 120, 120);

// Links
$link-color: rgb(66, 122, 136);
$link-hover-color: rgba(66, 122, 136, 0.8);

// Dimension constraints
$width-sidebar: 15rem;
$navbar-height: 8vh;
$bottom-nav-height: 4vh;
